<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head"></head>
<body>
	<h3 th:text="${titulo}"></h3>
	<div class="container">
		<div class="row">
			<a th:href="@{/restaurante/lista}" th:text="Restaurantes"
				class="btn btn-primary col-sm-2" role="button"
				data-bs-toggle="button"></a>
		</div>
		<div class="row">
			<a th:href="@{/menu/lista}" th:text="Menús"
				class="btn btn-primary col-sm-2" role="button"
				data-bs-toggle="button"></a>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>