<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head"></head>
<body>
	<h3 th:text="${titulo}"></h3>
	<a href="javascript:history.back()"
		th:text="Atras" class="btn btn-secondary"
		role="button" data-bs-toggle="button"></a>
	<div class="container">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="table-primary">
					<tr>
						<th>Tipo</th>
						<th>Nombre</th>
						<th>Precio</th>
						<th>Editar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="menu: ${menus}">
						<td th:text="${menu.tipo}"></td>
						<td th:text="${menu.nombre}"></td>
						<td th:text="${menu.precio}"></td>
						<td><a
							th:href="@{/restaurante/} + ${restauranteId} + '/agregarmenuexistente/' + ${menu.id}">Agregar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>