<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head"></head>
<body>
	<h3 th:text="${titulo}"></h3>
	<a th:href="@{/restaurante/lista}"
		th:text="Atras" class="btn btn-secondary"
		role="button" data-bs-toggle="button"></a>
	<div class="container">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="table-primary">
					<tr>
						<th>Tipo</th>
						<th>Nombre</th>
						<th>Precio</th>
						<th>Editar</th>
						<th>Eliminar</th>
						<th>Ver ingredientes</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="menu: ${menus}">
						<td th:text="${menu.tipo}"></td>
						<td th:text="${menu.nombre}"></td>
						<td th:text="${menu.precio}"></td>
						<td><a
							th:href="@{/restaurante/} + ${restauranteId} + '/editarmenu/' + ${menu.id}">Editar</a></td>
						<td><a
							th:href="@{/restaurante/} + ${restauranteId} + '/eliminarmenu/' + ${menu.id}">Eliminar</a></td>
						<td><a
							th:href="@{/menu/}+ ${menu.id} + '/listaingredientes/'">Ver
								ingredientes</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<br> <a
			th:href="@{/restaurante/} + ${restauranteId} + '/agregarmenu/'"
			class="btn btn-primary col-sm-2" role="button"
			data-bs-toggle="button">Agregar menú nuevo</a> <a
			th:href="@{/restaurante/} + ${restauranteId} + '/listaagregarmenuexistente'"
			class="btn btn-primary col-sm-2" role="button"
			data-bs-toggle="button">Agregar menú existente</a>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>